.card-main {
  color: var(--clr-font-4);
  width: 100vw;
  height: fit-content;
  min-height: 100vh;
  padding-top: 2rem;
  background: rgb(144, 182, 168);
  background: linear-gradient(
    0deg,
    rgba(144, 182, 168, 1) 0%,
    rgba(221, 228, 163, 1) 87%
  );
}

.user-none {
  height: 100vh;
  width: 100vw;
  background: rgb(144, 182, 168);
  background: linear-gradient(
    0deg,
    rgba(144, 182, 168, 1) 0%,
    rgba(221, 228, 163, 1) 87%
  );
}

.cart-header {
  padding-left: 15vw;
  text-align: left;
  margin-bottom: 2rem;
}

.cart-item-container {
  width: 60vw;
}
.checkout-pannel {
  border-radius: 1rem;
  width: 60vw;
}

.cart-main {
  display: flex;
  flex-direction: column;
}
.checkout {
  text-align: center;
  display: block;
  height: 2rem;
  width: 12rem;
  padding: 0.2rem;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
}
.checkout-card {
  background-color: var(--clr-back-4);
  width: 60vw;
  text-align: right;
  padding: 2rem;
  margin-bottom: 2rem;
  border-radius: 0.5rem;
  box-shadow: var(--light-shadow);
  transition: var(--transition);
}
.line {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
@media screen and (min-width: 992px) {
  .cart-main {
    flex-direction: row;
  }
  .checkout-pannel {
    margin-left: 2rem;
    width: 30vw;
    right: 3rem;
    height: fit-content;
  }
  .checkout-card {
    position: fixed;
    width: 30vw;
  }
}
