.about-main {
  padding: 2rem 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: whitesmoke;
  padding-left: 10vw;
  padding-right: 10vw;
}
.abt-text {
  color: var(--clr-font-4);
  text-align: right;
}
.abt-logo {
  text-align: right;
}
.about-left {
  display: none;
}
.about-info {
  margin: 1rem 0;
}
.abt-image2,
.abt-image1 {
  max-width: 80vw;
}
@media screen and (min-width: 800px) {
  .about-main {
    display: grid;
    justify-content: center;
    grid-template-rows: 1fr 1fr;
    column-gap: 3rem;
    row-gap: 3rem;

    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "a b"
      "c d";
  }

  .about-info {
    grid-area: c;
    align-self: start;
    justify-self: end;
  }
  .abt-image1 {
    align-self: end;
    justify-self: end;
  }
  .abt-text {
    justify-self: end;
    align-self: end;
    justify-self: end;
  }

  .abt-image2 {
    height: 100;
    width: auto;
    grid-area: d;
    grid-row-start: 1;
    grid-row-end: 3;
  }
}
