:root {
  /* dark shades of primary color*/
  --clr-primary-1: #abd699;
  --clr-primary-2: #ffe26a;
  --clr-primary-3: #75c9b7;
  --clr-primary-4: #c7ddcc;
  --clr-primary-5: #16123f;
  /* primary/main color */

  /* darkest grey - used for headings */
  --clr-font-1: #16123f;
  --clr-font-2: #2b2851;
  --clr-font-3: #768479;
  --clr-font-4: #8b7935;
  /* grey used for paragraphs */
  --clr-back-1: hsl(72, 13%, 47%);
  --clr-back-2: hsl(209, 23%, 60%);
  --clr-back-3: hsl(211, 27%, 70%);
  --clr-back-4: hsl(210, 31%, 80%);
  --clr-back-5: #dae2ec;
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --ff-primary: "Lato", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.02rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --white-shadow: 0 5px 20px rgba(249, 254, 255, 0.3);
  --white-shadow2: 0 5px 20px rgba(249, 254, 255, 0.5);
}

.banner-main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-right {
  display: none;
}

.banner-left {
  z-index: 1;
  background-color: rgb(40, 39, 39);
  color: var(--clr-primary-4);
  text-align: center;
  padding: 2rem;
  padding-top: 5rem;
  background: linear-gradient(
    90deg,
    rgb(142, 140, 91) 0%,
    rgb(124, 141, 99) 18%,
    rgb(142, 160, 149) 100%
  );
  width: 100vw;
  height: fit-content;
}
.user {
  color: var(--clr-font-2);
}

.btn {
  color: var(--clr-font-2);
  transition: all 0.4s ease-in-out;
}
.btn:hover {
  transform: scale(1.05);
}
.banner-image {
  width: 40vw;
  height: 30rem;
}
.shop-all {
  margin-top: 2rem;
  padding-top: 1rem;
  background: var(--clr-primary-2);
  text-shadow: var(--dark-shadow);
}
.logo {
  color: var(--clr-font-2);
  text-shadow: var(--dark-shadow);
}
.shop-all:hover {
  background: var(--clr-primary-3);
  border: none;
  box-shadow: var(--white-shadow);
  color: var(--clr-font-4);
}

@media screen and (min-width: 1250px) {
  .banner-right {
    display: block;
    width: 40vw;
    height: 30rem;
  }
  .banner-image {
    height: 30rem;
    height: 100%;
    object-fit: cover;
  }
  .banner-left {
    width: 60vw;
    height: 30rem;
    text-align: left;
  }
}
