ul {
  list-style: none;
}

li {
  display: inline-block;
  margin: 1rem;
}
.link {
  color: inherit;
}
.nav-main {
  position: fixed;
  text-decoration: none;
  color: cadetblue;
  right: 5px;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  opacity: 10%;
  transition: all 0.3s linear;
}
.cart-count {
  background: red;
  color: blue;
  padding: 6px 6px;
  height: fit-content;
  min-width: 35px;
  min-height: 35px;
  width: fit-content;
  border-radius: 50%;
}

.nav-main:hover {
  opacity: 80%;
}

li:hover {
  color: green;
}
.link:hover {
  color: green;
}
