.products-container {
  display: grid;
  justify-content: center;
  gap: 2rem 2rem;
  margin: 2rem;
  transition: all 0.4s ease-in-out;
  justify-content: center;
}
@media (min-width: 992px) {
  .products-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1350px) {
  .products-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1800px) {
  .products-container {
    grid-template-columns: repeat(4, 1fr);
  }
}
