.thumbContainer {
  transition: all 0.4s ease-in-out;
}

.thumbContainer:hover {
  transform: scale(1.05);
  cursor: pointer;
}

img {
  width: 100%;
  display: block;
  width: 300px;
  height: 350px;
  object-fit: cover;
  margin-bottom: 1rem;
}
h4 {
  margin-bottom: 0.5rem;
}
.price {
  color: var(--clr-primary-6);
  margin-bottom: 0.75rem;
}
p {
  max-width: 45em;
  margin-bottom: 1rem;
}

@media (min-width: 992px) {
  article {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 2rem;
    align-items: center;
  }
}
